*.bbl
*.bcf
*.run.*
*.xdv
*.aux
*.log
*.out
*.toc
*~
*#
*.f*
*.o
*.bbg
*.blg
.#*
#*
__pycache*
portfolio_app/venv/
/Game rename/cmake-build-debug/
/Game rename/.idea/
/Game/cmake-build-debug/
/Game/.idea/
